nav {
    --fs: 19px;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 300px;
    background-color: var(--dark);
    font-size: var(--fs);
    color: var(--light);
    display: flex;
    flex-direction: column;
    align-items: center;
    /* box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.1); */
    /* border-right: 1px solid rgba(var(--primary-rgb), 0.3); */
}

nav ul {
  list-style-type: none;
  align-self: flex-start;
  margin: 10vh 0 0 30px;
  padding: 0;
}

nav li {
  padding: 24px 0;
}

.nav-header {
  margin-top: 30px;
}

.name {
  font-family: 'Amaranth', 'Montserrat', sans-serif;
  font-size: 30px;
  transition: all .5s;
}

/* .name:hover {
  background: linear-gradient(to right, var(--primary), var(--primary-red));
  background-clip: text;
  color: transparent;
} */

.nav-footer {
  text-align: center;
  margin-top: auto;
  padding-top: 15px;
}

.link {
  padding: 10px;
  text-decoration: none;
  color: var(--accent);
  cursor: pointer;
}

.link i {
  width: 25px;
  text-align: center;
}

.link span {
  padding-left: 14px;
  letter-spacing: 0.8px;
}

.link:hover span {
  color: var(--light);
}

.link:hover i {
  /* color: var(--primary); */
  background: linear-gradient(to right, var(--primary), var(--primary-red));
  background-clip: text;
  color: transparent;
}

.active {
  font-size: calc(var(--fs) + 2px);
}

.active span {
  color: var(--light);
}

.active i {
  /* color: var(--primary); */
  background: linear-gradient(to right, var(--primary), var(--primary-red));
  background-clip: text;
  color: transparent;
}

.slide-right {
  animation: slide-right 1s;
}

@keyframes slide-right {
  0% {
    transform: translateX(-150px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
