nav {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 300px;
    background-color: var(--dark);
    font-size: 18px;
    color: var(--light);
    display: flex;
    flex-direction: column;
    align-items: center;
    /* box-shadow: 0 0 10px 5px rgba(65, 105, 225, 0.1); */
    /* border-right: 1px solid var(--light); */
}

nav ul {
  list-style-type: none;
  align-self: flex-start;
  margin: 12vh 0 0 0;
  padding: 0;
}

nav li {
  padding: 20px;
}

.nav-header {
  margin-top: 30px;
}

.name {
  font-family: 'Amaranth', 'Montserrat', sans-serif;
  font-size: 30px;
}

.nav-footer {
  text-align: center;
  margin-top: auto;
  padding-top: 15px;
}

.link {
  padding: 10px;
  text-decoration: none;
  color: var(--accent);
  cursor: pointer;
}

.link:hover p {
  color: var(--light);
}

.link:hover i {
  color: var(--primary);
}

.active {
  font-size: 20px;
}

.active p {
  color: var(--light);
}
.active i {
  color: var(--primary);
}

nav i {
  width: 25px;
  text-align: center;
}

nav p {
  padding-left: 12px;
  display: inline;
}

.slide-right {
  animation: slide-right 1s;
}

@keyframes slide-right {
  0% {
      transform: translateX(-150px);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
}