@keyframes blink {
    0% {
        border-right: 0.08em solid var(--light);
    }

    50% {
        border-right: 0.08em solid rgba(0, 0, 0, 0);
    }

    100% {
        border-right: 0.08em solid var(--light);
    }
}

.wrap {
    border-right: 0.08em solid var(--light);
    animation: blink 1s infinite;
    color: var(--primary);
}

.text {
    font-size: 40px;
    font-weight: bold;
    font-style: italic;
    font-family: 'Amaranth', 'Montserrat', sans-serif;
}