.skills-bg {
    /* min-height: 100vh; */
    padding: 80px 100px 0px 100px;
    overflow: hidden;
}

.skills-container {
    display: flex;
    flex-wrap: wrap;
}

/* .outer-box {
    width: 300px;
    height: 100px;
    overflow: hidden;
    position: relative;
    border-radius: 20px;
    transition: all .5s;
}

.inner-box {
    width: 600px;
    height: 100px;
    background: linear-gradient(to right, var(--primary), var(--primary-red), var(--primary));
    position: absolute;
    transition: all .5s;
}

.outer-box:hover {
    border-radius: 5px;
}

.outer-box:hover .inner-box {
    transform: translateX(-300px);
}

.text-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 300px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-wrapper p {
    text-align: center;
    margin: 0;
    font-size: 30px;
} */
