.skills-bg {
    /* min-height: 100vh; */
    padding: 80px 100px 0px 100px;
    overflow: hidden;
}

.skills-container {
    display: flex;
    flex-wrap: wrap;
}

.skill-item {
    flex: 50%;
    display: flex;
    align-items: flex-end;
    padding: 35px 10px;
    transition: all .35s;
}

.skill-item:hover {
    transform: scale(1.1);
}

.group {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-left: 24px;
}

.icon {
    /* background-color: white; */
    max-height: 85px;
    max-width: 85px;
    /* flex: 1; */
}

.title {
    font-family: 'Amaranth', 'Montserrat', sans-serif;
    font-style: italic;
    width: fit-content;
    font-size: 30px;
    margin-bottom: 10px;
}

.bar {
    display: flex;
    background: linear-gradient(to right, var(--primary), var(--primary-red));
    border-radius: 10px;
    justify-content: flex-end;
    padding: 0px 8px;
}

.percent-text {
    font-size: 12px;
    font-style: italic;
}

/* .outer-box {
    width: 300px;
    height: 100px;
    overflow: hidden;
    position: relative;
    border-radius: 20px;
    transition: all .5s;
}

.inner-box {
    width: 600px;
    height: 100px;
    background: linear-gradient(to right, var(--primary), var(--primary-red), var(--primary));
    position: absolute;
    transition: all .5s;
}

.outer-box:hover {
    border-radius: 5px;
}

.outer-box:hover .inner-box {
    transform: translateX(-300px);
}

.text-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 300px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-wrapper p {
    text-align: center;
    margin: 0;
    font-size: 30px;
} */
