.skills-bg {
    min-height: 100vh;
    padding: 100px;
    overflow: hidden;
}

.skills-container {
    background-color: #ffffff05;
    backdrop-filter: blur(10px);
    border-radius: 80px;
    padding: 75px 100px;
    font-size: 20px;
    pointer-events: none;
}

.skills-slide-right {
    /* opacity: 0; */
    /* transform: translateX(-400px); */
    transition: all 1s;
}

.skills-animated {
    opacity: 1;
    transform: translateX();
}

/* .outer-box {
    width: 300px;
    height: 100px;
    overflow: hidden;
    position: relative;
    border-radius: 20px;
    transition: all .5s;
}

.inner-box {
    width: 600px;
    height: 100px;
    background: linear-gradient(to right, var(--primary), var(--primary-red), var(--primary));
    position: absolute;
    transition: all .5s;
}

.outer-box:hover {
    border-radius: 5px;
}

.outer-box:hover .inner-box {
    transform: translateX(-300px);
}

.text-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 300px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-wrapper p {
    text-align: center;
    margin: 0;
    font-size: 30px;
} */
