.button {
    --border-width: 2px;
    --distance: -15px;
    background: none;
    text-decoration: none;
    font-size: 20px;
    color: var(--light);
    padding: 20px 40px;
    border: var(--border-width) solid var(--light);
    position: relative;
}

.button::before, .button::after {
    content: "";
    position: absolute;
    width: 40px;
    height: 40px;
    border: inherit;
    transition: all 0.5s;
}

.button::before {
    top: var(--distance);
    left: var(--distance);
    border-width: var(--border-width) 0 0 var(--border-width);
}

.button::after {
    bottom: var(--distance);
    right: var(--distance);
    border-width: 0 var(--border-width) var(--border-width) 0;
}

.button:hover::before, .button:hover::after {
    width: calc(100% + 30px);
    height: calc(100% + 30px);
}