.home-bg-container {
    /* background-image: url('../../images/home.png'); */
    /* background-color: var(--dark); */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left;
    height: 100vh;
    color: var(--light);
    display: flex;
    justify-content: center;
    /* box-shadow: 0 0 200px 30px rgba(var(--primary-rgb), 0.15); */
}

.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.home-container h2 {
    letter-spacing: 1.5px;
}

.home-container h1 {
    font-size: 60px;
    font-weight: bold;
}

.slide-left {
    animation: slide-left 1s;
}

@keyframes slide-left {
    0% {
        transform: translateX(200px);
        opacity: 0;
      }
      100% {
        transform: translateX(0);
        opacity: 1;
      }
}
