.skill-container {
    flex: 50%;
    display: flex;
    padding: 10px;
}

.group {
    flex: 75%;
    display: flex;
    flex-direction: column;
}

.icon {
    background-color: white;
    flex: 25%;
}

.title-container {
    display: flex;
    justify-content: space-between;
}

.title {
    font-family: 'Amaranth', 'Montserrat', sans-serif;
    font-style: italic;
    width: fit-content;
    font-size: 30px;
    margin: 0px;
}

.bar {
    background-color: var(--primary);
    padding: 6px;
}