:root {
  --primary: #4169E1;
  --dark: #040b14;
  --shade: #212431;
  --accent: #78818F;
  --light: #ffffff;
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
