@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="banner p-0">
    <div class="p-4 p-md-5 mb-4 text-white-50 bg-image position-relative" style="background-image: url('/pic/banners/bg.jpg');background-size:contain;
            height: 220px">
        <div class="position-absolute top-50 start-50 translate-middle">
            <h1 class="display-3 text-opacity-50">@ViewData["Banner"]</h1>
        </div>
    </div>
</div>