@{
    ViewData["SiteName"] = "";
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Theo McMullien Admin Panel</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/MyWebSite.styles.css" asp-append-version="true" />
</head>

<body>
    <div class="container shadow mt-4 p-0 border border-top">
        <header>
            <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom bg-light">
                <div class="container">
                    <a class="navbar-brand ms-4 me-5 fs-2" asp-area="" asp-controller="Admin"
                        asp-action="Messages">Admin Panel</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent" aria-expanded="false"
                        aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Admin"
                                    asp-action="Messages">Messages</a>
                            </li> <li class="nav-item">  <a class="nav-link text-dark" asp-area="" asp-controller="AdminSkills"
                                    asp-action="Index">Skills</a></li>
                        </ul>
                        <partial name="_LoginPartial" />
                    </div>
                </div>
            </nav>
        </header>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb ps-5 pt-2 pb-2 m-0 bg-white border-bottom">
                <li class="breadcrumb-item active" aria-current="page">Home / @ViewData["Title"]</li>
            </ol>
        </nav>
        <div class="main bg-white p-5">

            @RenderBody()
        </div>
    </div>
    <footer class="lh-lg text-muted">
        <div class="container text-center">
            &copy; 2022 - @ViewData["SiteName"]Power by .NET 6.0
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
